.hero {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    position: 'relative',
}

.hero > * {
    margin: 15px 5%;
    align-self: center;
    text-align: center;
}

.hero-illustration {
    height: 52vh;
    margin: 0 0 20px;
    object-position: 90px 0px;
}

.hero h1 {
    font-size: 2.5rem;
}