.shortenUrl {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}


.shortenUrlForm {
    margin: auto;
    width: min(330px, 80%);
    display: flex;
    flex-flow: column wrap;
    background-color: hsl(257, 27%, 26%);
    padding: 20px;
    border-radius: 10px;
    grid-area: 1 / 1 / 3 / -1;
    z-index: 2;
    align-self: center;
}

.shortenUrlForm input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.shortenUrlForm button {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: hsl(180, 66%, 49%);
}

.shortenedUrls {
    grid-area: 2 / 1 / -1 / -1;
    background-color: hsl(230, 25%, 95%);
    height: 100%;
    width: 100%;
}